.container {
  padding-right: 350px;
  padding-left: 350px;
  padding-top: 200px;
}
.divStyle {
  width: 30;
  margin: 25 auto;
}
.registerH1 {
  text-align: center;
}
.App {
  text-align: center;
}
.form-control {
  height: 50px;
  font-size: 20px;
}
